Repository CSID-DGU/2021-OSSPC-CHUPARKIM-5, pull requests merged in 2021-05, with the labels that each got.

#10 Add blackout mode draft
  CPK-PYTRIS/blackout.py
Labels: blackout

#13 Add "Rotate mode" draft
  CPK-PYTRIS/rotate.py
Labels: rotate

#19 Remove Sidebar
  CPK-PYTRIS/blackout.py
Labels: blackout

#20 Update Rotate mode Beta
  CPK-PYTRIS/mino_rot.py
  CPK-PYTRIS/rotate.py
Labels: rotate

#23 game mode update
  CPK-PYTRIS/game_func.py
  CPK-PYTRIS/game_var.py
  CPK-PYTRIS/module.py
  CPK-PYTRIS/rotate_big.py
  CPK-PYTRIS/rotate_small.py
Labels: blackout, enhancement, rotate

#28 Update minor errors
  CPK-PYTRIS/game_func.py
  CPK-PYTRIS/game_var.py
  CPK-PYTRIS/module.py
Labels: bug, enhancement
